src/conf/xml-resources/web-service-references/PersonaWS/wsdl/localhost_8080/Personajes/PersonaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.services.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.services.cl/" name="PersonaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.services.cl/" schemaLocation="http://localhost:8080/Personajes/PersonaWS?xsd=1" />
</xsd:schema>
</types>
<message name="DeletePersona">
<part name="parameters" element="tns:DeletePersona" />
</message>
<message name="DeletePersonaResponse">
<part name="parameters" element="tns:DeletePersonaResponse" />
</message>
<message name="BuscarPersona">
<part name="parameters" element="tns:BuscarPersona" />
</message>
<message name="BuscarPersonaResponse">
<part name="parameters" element="tns:BuscarPersonaResponse" />
</message>
<message name="ConsultarTodo">
<part name="parameters" element="tns:ConsultarTodo" />
</message>
<message name="ConsultarTodoResponse">
<part name="parameters" element="tns:ConsultarTodoResponse" />
</message>
<message name="InsertarNuevaPersona">
<part name="parameters" element="tns:InsertarNuevaPersona" />
</message>
<message name="InsertarNuevaPersonaResponse">
<part name="parameters" element="tns:InsertarNuevaPersonaResponse" />
</message>
<message name="UpdatePersona">
<part name="parameters" element="tns:UpdatePersona" />
</message>
<message name="UpdatePersonaResponse">
<part name="parameters" element="tns:UpdatePersonaResponse" />
</message>
<portType name="PersonaWS">
<operation name="DeletePersona">
<input wsam:Action="http://webservices.services.cl/PersonaWS/DeletePersonaRequest" message="tns:DeletePersona" />
<output wsam:Action="http://webservices.services.cl/PersonaWS/DeletePersonaResponse" message="tns:DeletePersonaResponse" />
</operation>
<operation name="BuscarPersona">
<input wsam:Action="http://webservices.services.cl/PersonaWS/BuscarPersonaRequest" message="tns:BuscarPersona" />
<output wsam:Action="http://webservices.services.cl/PersonaWS/BuscarPersonaResponse" message="tns:BuscarPersonaResponse" />
</operation>
<operation name="ConsultarTodo">
<input wsam:Action="http://webservices.services.cl/PersonaWS/ConsultarTodoRequest" message="tns:ConsultarTodo" />
<output wsam:Action="http://webservices.services.cl/PersonaWS/ConsultarTodoResponse" message="tns:ConsultarTodoResponse" />
</operation>
<operation name="InsertarNuevaPersona">
<input wsam:Action="http://webservices.services.cl/PersonaWS/InsertarNuevaPersonaRequest" message="tns:InsertarNuevaPersona" />
<output wsam:Action="http://webservices.services.cl/PersonaWS/InsertarNuevaPersonaResponse" message="tns:InsertarNuevaPersonaResponse" />
</operation>
<operation name="UpdatePersona">
<input wsam:Action="http://webservices.services.cl/PersonaWS/UpdatePersonaRequest" message="tns:UpdatePersona" />
<output wsam:Action="http://webservices.services.cl/PersonaWS/UpdatePersonaResponse" message="tns:UpdatePersonaResponse" />
</operation>
</portType>
<binding name="PersonaWSPortBinding" type="tns:PersonaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="DeletePersona">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BuscarPersona">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarTodo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarNuevaPersona">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdatePersona">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PersonaWS">
<port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
<soap:address location="http://localhost:8080/Personajes/PersonaWS" />
</port>
</service>
</definitions>